<div>
    <div class="carts">
        <div class="cart-box">
            <h1>CART</h1>
           <h1>{{carts.id}}</h1> 
           </br>
           <p>Products: </p>
           <ul>
            {{#each carts}}
            <li>{{this._id}}</li>
            {{/each}}
           </ul>
        </div>
    </div>
</div>